@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
:root {
    --color-link: #fff;
    --color-underline-link: #ff4400;
    --destaque-cor: #CF0A0A;
    --background-page: #ffa500; 
    --color-text: #333;
    --font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-page);
}

main{
    height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #000000c9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.771);
    overflow: hidden;
    z-index: 99;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    z-index: -1;
}

a, .nav-link {
    position: sticky;
    font-family: var(--font-family);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-link);
    font-size: 0.7em;
    padding: 10px;
}
.nav-link:hover{
    color: var(--color-link);
}
a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    color: var(--color-link);
    background-color: var(--color-underline-link);
    transition: width 0.3s ease-in-out;
}

a:hover::before {
    width: 100%;
}
 
.section-container01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 10vh;
}
.section-container02{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 30vh;
}
.section-container03{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 60vh;
}

.GlobalDiv {
    width: 100%;
}

.small-icon {
    font-size: 30px;
}

.container-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-container {
    width: 15rem;
    height: 17rem;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000c9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.771);
    overflow: hidden;
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.card-img-top {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.containerText {
    font-family: var(--font-family);
    font-weight: 1000;
    color: var(--color-text);
    margin-top: 2vh;
}

.destaque-text {
    color: var(--destaque-cor);
}

p {
    margin: 0;
}

.logos-container {
    margin-top: 5vh;
}

.logos {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.text-normal-apresentacao {
    font-size: 2rem;
}

.aboutMe-container{ 
    width: 50vw;
    color: var(--color-text);
    overflow-y: auto;
    overflow-x: hidden;
}
.title-aboutMe{
    text-align: center;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    width: 100%;
    letter-spacing: 1em;
}
.subtitle-aboutMe{
    text-align: justify;
    position: relative;
    top: 5vh;
    font-family: var(--font-family);
    font-weight: 500;
}
.card-projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;  
    width: 50vw;
}
.title-projects{
    
    text-align: center;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 50px;
}
.card-projects{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid var(--color-text);
    border-radius: 10px;
}
.languages-container{
    display: flex;
    align-items:baseline;
    justify-content:baseline;
}
.languages-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.languages {
    margin-right: 5px;
}
.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    background-color: #000000c9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
    overflow: hidden;
}
.description-project{
    margin-bottom: 10px;
    color: var(--color-link);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;

}

.links-project-container{
    font-size: 25px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-underline-link);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-underline-link);
}

@media (max-width: 534px) {
    body{
        align-items: baseline;
    }
    .logos{
        justify-content: center;
    }
    .image{
        width: 25px;
        height: 24px;
    }
    .image-container{
         overflow: hidden;
    }
    .card, .image-container{
        width: 170px;
        height: 300px;
    }
    .small-icon{
        font-size: 20px;
    }
    .section-container01 {
        flex-direction: column;
        position: relative;
        top: 10vh;
    }
    .logos-container{
        position: relative;
        bottom: 2vh;
    }
    .GlobalDiv {
        height: auto;
    }
    .containerText {
        font-size: 0.7rem;
    }
    .text-normal-apresentacao {
        font-size: 1.1rem;
    }
    .container-photo {
        padding: 0;
    }
    .containerText {
        text-align: center;
    }
    .title-aboutMe{
        font-size: 15px;
    }
    .aboutMe-container{ 
        width: 70vw;
        color: var(--color-text);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .card-projects{
        width: 80vw;
        height: 50vh;
    }
    .section-container03{
        top: 50vh;
    }
}


@media (min-width: 535px) and (max-width: 930px) {
    body{
        align-items: baseline;
    }
    .logos{
        justify-content: center;
    }
    .image{
        width: 25px;
        height: 24px;
    }
    .image-container{
         overflow: hidden;
    }
    .small-icon{
        font-size: 20px;
    }
    .card, .image-container{
        width: 200px;
        height: 300px;
    }
    .section-container01 {
        flex-direction: column;
        position: relative;
        top: 10vh;
    }
    .logos-container{
        position: relative;
        bottom: 2vh;
    }
    .GlobalDiv {
        height: auto;
    }
    .containerText {
        font-size: 0.9rem;
    }
    .text-normal-apresentacao {
        font-size: 1.3rem;
    }
    .container-photo {
        padding: 0;
    }
    .containerText {
        text-align: center;
    }
    .title-aboutMe{
        font-size: 20px;
    }
}
