@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
:root {
    --color-link: #fff;
    --color-underline-link: #ff4400;
    --destaque-cor: #CF0A0A;
    --background-page: #ffa500; 
    --color-text: #333;
    --font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-page);
    margin: 0;
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2px;
    left: 50%;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    background-color: #000000c9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.771);
    overflow: hidden;
    z-index: 99;
    transform: translateX(-50%); /* Centraliza o header */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(11.6px);
    z-index: -1;
}

a, .nav-link {
    position: sticky;
    font-family: var(--font-family);
    margin-left: 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-link);
    font-size: 0.7em;
    padding: 10px;
}

a:hover, a:focus, a:active, a:visited, .nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited {
    color: var(--color-link);
}

a::before {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-underline-link);
    transition: width 0.3s ease-in-out;
}

a:hover::before, a:focus::before, a:active::before, a:visited::before {
    width: 100%;
}

 
.section-container01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 60px;
}
.section-container02{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 200px;
}
.section-container03{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.GlobalDiv {
    width: 100%;
}

.small-icon {
    font-size: 30px;
}

.container-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-container {
    width: 15rem;
    height: 17rem;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000c9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.771);
    overflow: hidden;
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.card-img-top {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.containerText {
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--color-text);
    margin-top: 2vh;
}

.destaque-text {
    color: var(--destaque-cor);
}

p {
    margin: 0;
}

.logos-container {
    margin-top: 5vh;
}

.logos {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.text-normal-apresentacao {
    font-size: 2rem;
}

.aboutMe-container{ 
    width: 50vw;
    color: var(--color-text);
    overflow-y: auto;
    overflow-x: hidden;
}
.title-aboutMe{
    text-align: center;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    width: 100%;
    letter-spacing: 1em;
}
.subtitle-aboutMe{
    text-align: justify;
    position: relative;
    top: 5vh;
    width: 96%;
    font-family: var(--font-family);
    font-weight: 500;
}
.card-projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    height: auto;
}


.card-projects {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid var(--color-text);
    border-radius: 10px;
    position: relative;
    background-color: #0000006a;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.771);
}

.card_project {
    width: 100%;
    height: 60%; /* Ajuste conforme necessário */
    position: relative;
    overflow: hidden;
}

.image_portfolio {
    width: 100%;
    height: 100% !important;
    object-fit: cover; /* Faz com que a imagem cubra o container */
}
.title-projects{
    text-align: center;
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 800;
    margin-bottom: 50px;
}

.title_repository {
    position: absolute;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 800;
    bottom: 10px; /* Ajuste conforme necessário para a posição do título */
    left: 10px;
    color: var(--color-link);
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona fundo semitransparente para legibilidade */
    padding: 5px;
    border-radius: 5px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40%;
    background-color: #000000c9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
    position: absolute;
    bottom: 0;
    z-index: 1; /* Garante que a descrição esteja sobre a imagem */
    padding: 10px; /* Adiciona algum padding para espaçamento interno */
}

.description-project {
    margin-bottom: 2px;
    color: var(--color-link);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
}

.languages-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.languages {
    margin-right: 5px;
}

.links-project-container {
    font-size: 25px;
}
.title_contact-container {
    margin-bottom: 40px;
}

.copy-container {
    margin-top: 40px;
}

.title_contact {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 800;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ajuste para 100% para ocupar toda a largura disponível */
    position: relative;
    margin-top: 200px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
    border-radius: 5px;
}

.card-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Ajuste para 100% para ocupar toda a largura disponível */
    max-width: 1200px; /* Adicione um max-width para limitar a largura em telas maiores */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000c9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.icon_contact { 
    font-size: 20px;
}

.textCopy {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-underline-link);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-underline-link);
}

@media (max-width: 534px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Organiza o conteúdo em uma coluna */
        width: 100%;
        height: 100%;
        background-color: var(--background-page);
    }
    header {
        top: 5px;
        width: 70%;
    }
    .logos{
        justify-content: center;
    }
    .image{
        width: 25px;
        height: 24px;
    }
    .image-container{
         overflow: hidden;
    }
    .card, .image-container{
        width: 200px;
        height: 380px;
    }
    .small-icon{
        font-size: 20px;
    }
    .section-container01 {
        flex-direction: column;
        position: relative;
    }
    .logos-container{
        position: relative;
        bottom: 2vh;
    }
    .GlobalDiv {
        height: auto;
    }
    .containerText {
        font-size: 0.7rem;
    }
    .text-normal-apresentacao {
        font-size: 1.1rem;
    }
    .container-photo {
        padding: 0;
    }
    .containerText {
        text-align: center;
    }
    .title-aboutMe{
        font-size: 15px;
    }
    .aboutMe-container{ 
        width: 70vw;
        color: var(--color-text);
        overflow-y: auto;
        overflow-x: hidden;
    }
    footer {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
        border: none;
    }
    .card-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000c9;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
    }
    
    .icon_contact { 
        font-size: 20px;
    }
    

}


@media (min-width: 535px) and (max-width: 930px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Organiza o conteúdo em uma coluna */
        height: 100%;
        background-color: var(--background-page);
    }
    header {
        top: 10px;
        width: 50%;
    }
    .logos{
        justify-content: center;
    }
    .image{
        width: 25px;
        height: 24px;
    }
    .image-container{
         overflow: hidden;
    }
    .small-icon{
        font-size: 20px;
    }
    .card, .image-container{
        width: 200px;
        height: 300px;
    }
    .section-container01 {
        flex-direction: column;
        position: relative;
    }
    .logos-container{
        position: relative;
        bottom: 2vh;
    }
    .GlobalDiv {
        height: auto;
    }
    .containerText {
        font-size: 0.9rem;
    }
    .text-normal-apresentacao {
        font-size: 1.3rem;
    }
    .container-photo {
        padding: 0;
    }
    .containerText {
        text-align: center;
    }
    .title-aboutMe{
        font-size: 20px;
    }
    .card-projects{
        width: 80vw;
        height: 50vh;
    }
    footer {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
        border: none;
    }
    .card-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000c9;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.771);
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
    }
    
    .icon_contact { 
        font-size: 20px;
    }

}
